Write a Python program that takes multiple words as input from the user and calculates the frequency of each word.
    
Finally, print all the words (sorted in ascending order) grouped by frequency (sorted in descending order).

 [You can not use built in .count() function]

 Sample Input #1:

 cow cat cow ant elephant cow dog lion cat goat cow lion tiger elephant

 Sample Output #2:

 {
 4 : ['cow'],
 2 : ['cat', 'elephant', 'lion'],
 1 : ['ant', 'dog', 'goat', 'tiger']
 }

 Sample Input #2:
 cat dog lion cat elephant goat cow lion ant tiger elephant cow cow cow

 Sample Output #2:
 {
 4 : ['cow'],
 2 : ['cat', 'elephant', 'lion'],
 1 : ['ant', 'dog', 'goat', 'tiger']
 }

In [45]:
y = 'cow', 'cat', 'cow', 'ant', 'elephant', 'cow', 'dog', 'lion', 'cat', 'goat', 'cow', 'lion', 'tiger', 'elephant'
lst = []
dct = {}
for i in range(len(y)):
    lst.append(y[i])
    
for j in lst:
    val = lst.count(j)
    if val not in dct.keys():
        dct[val] = [j]
    else:
        if j in dct[val]:
            pass
        else:
            dct[val].append(j)

print(dct)

{4: ['cow'], 2: ['cat', 'elephant', 'lion'], 1: ['ant', 'dog', 'goat', 'tiger']}

In [ ]:
y = 'cow' 'cat' 'cow' 'ant' 'elephant' 'cow' 'dog' 'lion' 'cat' 'goat' 'cow' 'lion', 'tiger', 'elephant'

In [39]:
y = 'cow', 'cat', 'cow', 'ant', 'elephant', 'cow', 'dog', 'lion', 'cat', 'goat', 'cow', 'lion', 'tiger', 'elephant'
lst = []
dct = {}
dct2 = {}
for i in range(len(y)):
    lst.append(y[i])
for j in lst:
    val = lst.count(j)
    if j not in dct.keys():
        dct[j] = [val]
for m, n in dct.items():
    for x in n:
        if x not in dct2.keys():
            dct2[x] = [m]
        else:
            dct2[x].append(m)
print(dct2)

{4: ['cow'], 2: ['cat', 'elephant', 'lion'], 1: ['ant', 'dog', 'goat', 'tiger']}

1. From a given string, print the string in all uppercase if the number of uppercase
letters is more than lowercase letters. Otherwise, if lowercase is greater or equal
to uppercase letters, print all lowercase. The inputs will contain letters (A-Z, a-z)
only.

SampleInput Sample Output
HOusE        HOUSE
ApplE        apple
BaNaNa       banana

In [ ]:
p = input("Enter: ")
lst1 = []
lst2 =[]
for i in range(len(p)):
    if 65 <= ord(p[i])<= 90:
        lst1.append(p[i])
    elif 97 <= ord(p[i])<= 122:
        lst2.append(p[i])
if len(lst1) > len(lst2):
    ans = p.upper()
elif len(lst1) <= len(lst2):
    ans = p.lower()
    
print(ans)

Given a string, print whether it is a number, word or mixed with digit and letters.
If all the characters are numeric values, print NUMBER. If they are all letters, print
WORD. If it is mixed, print MIXED.

Sample Input     Sample Output
213213           NUMBER
jhg231j213       MIXED
Hello            WORD

In [46]:
p = 23445

if p == str(p):
    q = p.isalpha()
    if q == False:
        print("MIXED")
    else:
        print("WORD")
else:
    if p == int(p):
        print("NUMBER")

NUMBER

In [23]:
inp = input('')
countN = 0
countW =0
for i in range(len(inp)):
    if 48 <= ord(inp[i]) <= 57:
        countN += 1
        
    elif 65 <= ord(inp[i])<= 90 or 97 <= ord(inp[i])<= 122 :
        countW += 1
        
if countN == len(inp):
    a = "NUMBER"
elif countW == len(inp):
    a = "WORD"
else:
    a = "MIXED"
    
print(a)

mouly
WORD

In a given string, there will be two uppercase letters in between some lowercase
letters. Print the substring from the first uppercase letter to the last uppercase letter
excluding them. If there are no letters in between them, print the word BLANK. It
is guaranteed that there will be only two uppercase letters in the string.
Sample Input      Sample Output
baNgladEsh        glad
coDIng            BLANK

In [28]:
str1 = input("Enter: ")
count1 = 0
count2 = 0
str2 = ''
f_str =''

for i in range(len(str1)):
    if str1[i] == str1[i].upper():
        count1 += 1
        if count1 == 1:
            str2 = str1[i+1:]
            
for j in range(len(str2)):
    if str2[j] == str2[j].upper():
        count2 += 1
        if count2 == 1:
            f_str = str2[:j]
            if str2 == '':
                f_str = "BLANK"
            else:
                f_str = str2[:j]
print(f_str)

Enter: baNgladEsh
glad

Write a Python program to find the first appearance of the substring 'too' and
'good' from a given string. If 'good' follows the 'too', replace the whole 'too'' good'
substring with 'excellent' and print the resulting string. If the above does not
appear, print the string as it is.

Sample Input                             Sample Output
The book is not too good!                The book is not excellent!
This book is good too!                   This book is good too!

In [1]:
inp ='This book is not too good !'
a = 'too'
b = 'good'
res = ''
count = 0
lst = []
val = inp.split()
for i in val:
    lst.append(i)

for i in range(len(lst)):
    if lst[i] == a:
        count += 1
        if count <= 1 and (lst[i+1] == b or lst[i+1][:-1]):
            lst[i] = ''
            lst[i+1] = 'excellent'
        else:
            lst = lst

for we in lst:
    if we == '':
        lst.remove(we)
sum1 = ''
for l in lst:
    res = ''.join(str(l))
    print(res, end=' ')

This book is not excellent !

Create a string from two given strings by concatenating common characters of
the given strings.

Sample Input             Sample Output
harry, hermione          hrrhr
dean, tom                Nothing in common.

In [12]:
a = input("enter: ")
b = input("enter: ")
blank = ''
for i in a:
    if i in b:
        blank += i
for j in b:
    if j in a:
        blank += j
if len(blank) > 0:
    g = blank
else:
    g = "Nothing in common"
print()

enter: tom
enter: dean

In [31]:
a1 = 'harry'
a2 = 'hermione'
b1 = len(a1)
b2 = len(a2)
count = 0
factor = 0
lst1 = []
if b1 > b2:
    p = b2
elif b1 < b2:
    p = b1
if a1[i] not in a2[i]:
    g = "Nothing in common"
else:
    for i in range(p):
        if a1[i] in a2[i]:
            count += 1
            if count >= 1:
                lst1.append(a1[i])
            if count > 1:
                lst1.append(a1[i])
    for j in range(p):
        if a2[j] in a1[j]:
            factor += 1
            if factor >= 1:
                lst1.append(a2[j])
        
    for i in lst1:
        g = ''.join(lst1)
print(g)

hrrhr

In [35]:
a1 = input("Enter: ")
a2 = input("Enter: ")
sum1 = ""
for elm in a1:
    if elm in a2:
        sum1+= elm
for elm in a2:
    if elm in a1:
        sum1+= elm
if len(sum1) > 0:
    q = sum1
else:
    q = "Nothing in common"
print(q)

Enter: tom
Enter: dean
Nothing in common

Again, you have lost your USIS password!! You went to the registrar office and
requested for a new password. This time, you need to follow some rules to set your
password. Otherwise, they won't change it. The rules are
At least one lowercase letter
At least one uppercase letter
At least one digit (0-9)
At least one special character (_ , $ , #, @)
Your task is to find whether a given password follows all those rules. If it breaks
any rule, you have to print Lowercase Missing, Uppercase Missing, Digit Missing
or Special Missing respective to the missing case. For more than one rule break,
print all the rules that were broken (order doesn't matter). If the password is ok,
print OK.
                                      
Sample Input
ohMyBR@CU
ohmybracu
OhMyBR@CU20

Sample Output
Digit missing
Uppercase character missing, Digit missing, Special character missing
OK

In [37]:
inp = input('')
lw = False
bg = False
dtg = False
uniq = False 

for i in range(len(inp)):
    if ( 97 <= ord(inp[i])<= 122):
        lw = True
    elif (65 <= ord(inp[i]) <= 90):
        bg = True
    elif(48 <= ord(inp[i]) <= 59):
        dgt = True
    elif (ord(inp[i])== 95 or ord(inp[i])== 23 or ord(inp[i]) ==24 or ord(inp[i])==64):
        uniq = True

lst = []        
if (lw == True and bg == True and dtg == True and uniq == True):
    print("OK")
else:
    if lw == False:
        lst.append("Lowercase character missing")
    if bgdfgbv  == False:
        lst.append("Uppercase character missing")
    if dig == False:
        lst.append("Digit missing")
    if uniq == False:
        lst.append("Special character missing")
for i in range(len(lst)):
    if i>0:
        print(',' , lst[i], end = ' ')
    else:
        print(lst[i], end = ' ')

OhMyBR@CU20
OK

In [11]:
#dict 1

dct1 = {'a': 100, 'b': 100, 'c': 200, 'd': 300}
dct2 = {'a': 300, 'b': 200, 'd': 400, 'e': 200}
ndct ={}
process = []
for i, j in dct1.items():
    for u, v in dct2.items():
        if i not in dct2:
            ndct[i] = j
        if u not in dct1:
            ndct[u] = v
        if i == u:
            g  = j + v
            ndct[i] = g
for x in ndct.values():
    if x not in process:
        process.append(x)
        process.sort()
    
j= tuple(process)


print(ndct)
print(j)

{'a': 400, 'e': 200, 'b': 300, 'c': 200, 'd': 700}
(200, 300, 400, 700)

In [20]:
#2
dy = {}
while True:
    inp = input()
    if inp == "STOP":
        break
    else:
        if inp not in dy.keys():
            dy.update({inp : 1})
        else:
            dy[inp] += 1
            
for m, n in dy.items():
    print(f"{m} - {n} times")

10
20
20
30
10
50
90
STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

In [32]:
#3
workdct = {'key1' : 'value1', 'key2' : 'value2', 'key3' : 'value1'}
ndct = {}
l1 = []
l2 = []
for a, b in workdct.items():
    if b not in ndct.keys():
        ndct[b] = [a]
    else:
        ndct[b].append(a)
print(ndct)

{'value1': ['key1', 'key3'], 'value2': ['key2']}

In [ ]:
#functionnn

In [ ]:
# You have been hired by the Abahani football club to write a function that will calculate the total bonus on the yearly earnings of each player for the total goals they have scored.
# Since the number of players will vary, you decide to use the "*args" technique that you learned in your CSE110 class.
# For each player: pass the name, yearly earning, the total goal scored this season, bonus percent per goal.
# Additionally,
# If the goal scored is above 30, add an extra bonus of 10000 taka.
# If it is between 20 and 30 inclusive, add an extra 5000 taka.
# Example1:
# cal_bonus("Neymar", 1200000, 35, 5)
# bonus = 35 * (5 / 100 * 1200000) + 10000 = 2110000
# Function call:   
# cal_bonus("Neymar", 1200000, 35, 5)
# Output:    
# Neymar earned a bonus of 2110000 Taka for 35 goals.
# Example2:
# Function call:
# function_name("Neymar", 1200000, 30, 10, "Jamal", 700000, 19, 5)
# Output:
# Neymar earned a bonus of 3605000 Taka for 30 goals.
# Jamal earned a bonus of 665000 Taka for 19 goals.
# Example3:
# Function call:
# function_name("Neymar", 1200000, 35, 5, 'Jamal', 700000, 19, 8, 'Luis', 80000, 25, 10))
# Output:
# Neymar earned a bonus of 2110000 Taka for 35 goals.
# Jamal earned a bonus of 1064000 Taka for 19 goals.
# Luis earned a bonus of 205000 Taka for 25 goals.

In [ ]:
 def cal_bonus(*args):
    for k in range(len(args)// 4):
        
cal_bonus("Neymar", 1200000, 35, 5, 'Jamal', 700000, 19, 8, 'Luis', 80000, 25, 10)

In [45]:
#3
def tprice(name, place = 'Mohakhali'):
    dct = {'BBQ Chicken Cheese Burger': 250, 'Beef Burger': 170, 'Naga Drums': 200}
    for s, t in dct.items():
        if name in s:
            if place == 'Mohakhali' or place == '':
                del_chrg = 40
            else:
                del_chrg = 60
         
            tp = t + del_chrg + (t*(8/100))
            
            print(tp)
            
a = input("Enter item: ")
b = input("Enter place: ")
        
tprice(a, b)

Enter item: Beef Burger
Enter place: Dhanmondi
243.6

In [3]:
#4
lst = []
while True:
    word = input("Enter your list: ")
    if word =="STOP":
        break
    else:
        word = word.split(" ")
        lst.append(word)
sum1 = 0
flag = True
count = 0
lim = 0
for lstelm in lst:
    for elm in lstelm:
        if count < len(lstelm) - 1:
            sum1 = int(elm) - int(lstelm[count+1])
            sum1 = abs(sum1)
            #print(sum1)
            count += 1
            if sum1 < len(lstelm) and sum1 > 0:
                continue
            else:
                flag = False
    if flag:
        print("UB Jumper")
            
    else:
        print("Not UB Jumper")
    flag = True
    count = 0

Enter your list: 1 4 2 3
Enter your list: 2 1 4 6 10
Enter your list: 1 4 2 -1 6
Enter your list: STOP
UB Jumper
UB Jumper
Not UB Jumper

In [5]:
def cap_fixer(inp):
    inp = inp.split()
    sgns = [".","!","?"]
    flag = False
    count = 0
    final  = ""
    for p in inp:
        if count ==0:
            p = p.capitalize()
            count += 1
        if flag:
            p = p.capitalize()
            flag = False
        for q in p:
            if q in sgns:
                flag = True
        if p == "i":
            p = p.capitalize()
        elif "i" in p:
            if len(p) == 2:
                if p[1] in sgns:
                    p = p.capitalize()
        final += p + " "
    final = final.rstrip()
    return final

inp = input("Enter your string: ")
print(cap_fixer(inp))

Enter your string: my favourite animal is a dog. a dog has sharp teeth so that it can eat flesh very easily. do you know my pet dog’s name? i love my pet very much.
My favourite animal is a dog. A dog has sharp teeth so that it can eat flesh very easily. Do you know my pet dog’s name? I love my pet very much.

In [10]:
dic  = {}
dic['mouly'] = {}
dic['mouly']['baby1'] = 3
dic['mouly']['baby2'] = 4
print(dic)

{'mouly': {'baby1': 3, 'baby2': 4}}

In [18]:
a = 'This is the list string quiz'.split(' ')
lst = []
lst2 = []
for i in a:
    lst.append(i)
    lst2.append(i[-1::-1])
for i in lst2:
    s = ''.join(str(i))
    print(s, end =' ')

sihT si eht tsil gnirts ziuq