# <font color="blue">CSE111-Quiz1-Fall-2021</font>

# ùó§ùòÇùó≤ùòÄùòÅùó∂ùóºùóª 1:<br>
Write a python program that will make a dictionary from the given list of<br>
Student IDs based on the department and admitted year.<br>
ID explanation:<br>
First 2 digits: Year<br>
4th and 5th digit: Department<br>
$\;\;\;\;\;\;\;\;\;$01 = CSE, 41=CS, 21=EEE, Any other digits = Other<br>

For example, ID: 21121347, in this ID, the first 2 digits are 21. So the <br>
year is 2021.<br>
The 4th and 5th digit are 21. So the department in EEE.<br>

**Given List <font color="blue">[Your code should work for all types of similar IDs if the given List is changed.]:</font>**<br>

IDs = 
['20201199','21121347','20141052','20341121','21241369','21272199','19241187','19101007','20101035', '21121875', '19141534', '19301552', '21141135', '21365001']<br>

**Sample Output (You have to print the resultant dictionary only):**<br>
{<br>
$\;\;$2020:{<br>
$\;\;\;\;\;\;$'CSE': ['20201199', '20101035'],<br>
$\;\;\;\;\;\;$'CS': ['20141052', '20341121']<br>
$\;\;\;\;\;$},<br>
$\;\;$2021:{<br>
$\;\;\;\;\;\;$'EEE': ['21121347', '21121875'],<br>
$\;\;\;\;\;\;$'CS': ['21241369', '21141135'],<br>
$\;\;\;\;\;\;$'Other': ['21272199', '21365001']<br>
$\;\;\;\;\;$},<br>
$\;\;$2019:{<br>
$\;\;\;\;\;\;$'CS': ['19241187', '19141534'],<br>
$\;\;\;\;\;\;$'CSE': ['19101007', '19301552']<br>
$\;\;\;\;\;$}<br>
}

{'2020': {}, '2021': {}, '2019': {}}
['CSE', 'EEE', 'CS', 'CS', 'CS', 'Other', 'CS', 'CSE', 'CSE', 'EEE', 'CS', 'CSE', 'CS', 'Other']

# ùó§ùòÇùó≤ùòÄùòÅùó∂ùóºùóª 2:<br>
Write a python program that will make a dictionary from the given list of Student IDs based on the department and admitted year.<br>
ID explanation: <br>
First 2 digits: Year<br>
4th and 5th digit: Department<br>
                          01 = CSE, 41=CS, 21=EEE, Any other digits = Other<br>       

For example, ID: 21121347, in this ID, the first 2 digits are 21. So the year is 2021. <br>
The 4th and 5th digit are 21. So the department in EEE.<br>         

**Given List <font color="blue">[Your code should work for all types of similar IDs if the given List is changed.]:</font>**

IDs = ['20201199','21121347','20141052','20341121','21241369','21272199',\
'19241187','19101007','20101035', '21121875', '19141534', '19301552', '21141135', '21365001']<br>

**Sample Output (You have to print the resultant dictionary only)**<br>
{<br>
$\;\;$2020:{ <br>
$\;\;\;\;\;\;$'CSE': ['20201199', '20101035'], <br>
$\;\;\;\;\;\;$'CS': ['20141052', '20341121'] <br>
$\;\;\;\;\;$},<br>
$\;\;$2021:{ <br>
$\;\;\;\;\;\;$'EEE': ['21121347', '21121875'], <br>
$\;\;\;\;\;\;$'CS': ['21241369', '21141135'],  <br>
$\;\;\;\;\;\;$'Other': ['21272199', '21365001']<br>
$\;\;\;\;\;$},<br>
$\;\;$2019:{
$\;\;\;\;\;\;$'CS': ['19241187', '19141534'], <br>
$\;\;\;\;\;\;$'CSE': ['19101007', '19301552'] <br>
$\;\;\;\;\;$}<br>
}

In [31]:
#Todo
IDs = ['20201199','21121347','20141052','20341121','21241369','21272199','19241187','19101007','20101035', '21121875', '19141534', '19301552', '21141135', '21365001']
dct = {}
for i in IDs:
    yr = "20" + i[:2]
    dept = i[3:5]
    if dept == '01':
        val = "CSE"
    elif dept == '41':
        val = 'CS'
    elif dept == '21':
        val = "EEE"
    else:
        val = "Other"

    if yr not in dct.keys():
        dct[yr] = {val: [i]}
    else:
        if val not in dct[yr].keys():
            dct[yr][val] = [i]
        else:
            dct[yr][val].append(i)    
print(dct)

{'2020': {'CSE': ['20201199', '20101035'], 'CS': ['20141052', '20341121']}, '2021': {'EEE': ['21121347', '21121875'], 'CS': ['21241369', '21141135'], 'Other': ['21272199', '21365001']}, '2019': {'CS': ['19241187', '19141534'], 'CSE': ['19101007', '19301552']}}

In [30]:
lst = ['20201199','21121347','20141052','20341121','21241369','21272199','19241187','19101007','20101035', '21121875', '19141534', '19301552', '21141135', '21365001']
dic1 = {}
for elm in lst:
    year = "20"+ elm[:2]
    deptcode = elm[3:5]
    if deptcode == "01":
        dept = "CSE"
    elif deptcode == "21":
        dept = "EEE"
    elif deptcode == "41":
        dept = "CS"
    else:
        dept = "Other"
    if year not in dic1.keys():
        dic1[year] = {dept:[elm]}
    else:
        if dept not in dic1[year].keys():
            dic1[year][dept] =[elm]
        else:
            dic1[year][dept].append(elm)
print(dic1)

{'2020': {'CSE': ['20201199', '20101035'], 'CS': ['20141052', '20341121']}, '2021': {'EEE': ['21121347', '21121875'], 'CS': ['21241369', '21141135'], 'Other': ['21272199', '21365001']}, '2019': {'CS': ['19241187', '19141534'], 'CSE': ['19101007', '19301552']}}

# ùó§ùòÇùó≤ùòÄùòÅùó∂ùóºùóª 3:<br>
Write a python program that will take N as input from the user and then take N lines of input from the user. Each line will contain a tennis player name, year and tournament name that he won that year. Store each player's championship information in a dictionary where the key will be the player name and corresponding value will be a list containing all the tournaments the player won along with the year of the tournament. <br>

**Sample Input 1:**<br>
6<br>
2021 AustralianOpen Djokovic<br>
2021 FrenchOpen Djokovic<br>
2020 FrenchOpen Nadal<br>
2020 USOpen Dominic<br>
2020 AustralianOpen Djokovic<br>
2019 USOpen Nadal<br>

**Sample Output 1 (No need to follow this output format. Just print the resultant dictionary. ):**<br>

{<br>
$\;\;\;\;$'Djokovic':<br>
$\;\;${<br>
$\;\;\;\;$2021:['AustralianOpen','FrenchOpen'],<br>
$\;\;\;\;$2020:['AustralianOpen']<br>
$\;\;$},<br>
$\;\;\;\;$'Nadal':<br>
$\;\;${<br>
$\;\;\;\;$2020:['FrenchOpen'], <br>
$\;\;\;\;$2019: ['USOpen']<br>
$\;\;$},<br>
$\;\;\;\;$'Dominic':<br>
$\;\;${<br>
$\;\;\;\;$2020:['USOpen']<br>
$\;\;$}<br>
}

In [3]:
#Todo
n = int(input("Enter number: "))
lst=[]
dic1 = {}
for i in range(n):
    inp = input().split(' ')
    lst.append(inp)
for p in lst:
    if p[-1] not in dic1.keys():
        dic1[p[-1]] = {p[0]:[p[1]]}
    else:
        if p[0] not in dic1[p[-1]].keys():
            dic1[p[-1]][p[0]] = [p[1]]
        else:
            dic1[p[-1]][p[0]].append(p[1])
print(dic1)

Enter number: 6
2021 AustralianOpen Djokovic
2021 FrenchOpen Djokovic
2020 FrenchOpen Nadal
2020 USOpen Dominic
2020 AustralianOpen Djokovic
2019 USOpen Nadal
{'Djokovic': {'2021': ['AustralianOpen', 'FrenchOpen'], '2020': ['AustralianOpen']}, 'Nadal': {'2020': ['FrenchOpen'], '2019': ['USOpen']}, 'Dominic': {'2020': ['USOpen']}}

# ùó§ùòÇùó≤ùòÄùòÅùó∂ùóºùóª 4:<br>
Suppose you are given a list of contacts as input in single line. Your task <br>
is to create a ‚ÄúPhonebook‚Äù out of those contacts. The phonebook is nothing <br>
but a nested dictionary which is made of 1 rule:<br>

1.You have to save each contact based on the starting letter. If there is <br>
no contact starting with a specific letter, that letter should not be shown <br>
in the phone book.<br>

While printing the phonebook as output the starting letters should be <br>
sorted from A-Z. Also the contacts under each letter should be shown in <br>
sorted order based on the contact names. See the sample output for <br>
clarification.<br>

**Sample Input:**<br>
Bob 01932342392 Alice 01546734123 Britney 01303544535 Aeron 01723454642 <br>
Smith 01923457890 Tarek 09663922 Carol 01823456785<br>

**Sample Output: (No need to follow this output format. Just print the <br>
resultant dictionary in alphabetical order)**<br>

{<br>
A:<br>
$\;\;${<br>
$\;\;\;\;$Aeron:01723454642<br>
$\;\;\;\;$Alice:01546734123<br>
$\;\;$}<br>
B:<br>
$\;\;${<br>
$\;\;\;\;$Bob:01932342392<br>
$\;\;\;\;$Britney:01303544535<br>
$\;\;$}<br>
C:<br>
$\;\;${<br>
$\;\;\;\;$Carol:01823456785<br>
$\;\;$}<br>
S:<br>
$\;\;${<br>
$\;\;\;\;$Smith:01923457890<br>
$\;\;$}<br>
T:<br>
$\;\;${<br>
$\;\;\;\;$Tarek:09663922<br>
$\;\;$}<br>
}

In [24]:
def phonebook(*vals):
    dct = {}
    lst = []
    for i in range(len(vals)//2):
        lst.append([vals[0 + 2*i], vals[1 + 2*i]])
        
    for p in lst:
        a = p[0][:1]
        if a not in dct.keys():
            dct[a] = {p[0] : p[-1]}
        else:
            if p[0] not in dct[a].keys():
                dct[a][p[0]] = p[-1]
    return dct
    print(dct)
    
    
phonebook('Bob', '01932342392', 'Alice', '01546734123', 'Britney', '01303544535', 'Aeron', '01723454642', 'Smith', '01923457890', 'Tarek', '09663922', 'Carol', '01823456785')

{'B': {'Bob': '01932342392', 'Britney': '01303544535'},
 'A': {'Alice': '01546734123', 'Aeron': '01723454642'},
 'S': {'Smith': '01923457890'},
 'T': {'Tarek': '09663922'},
 'C': {'Carol': '01823456785'}}

# ùó§ùòÇùó≤ùòÄùòÅùó∂ùóºùóª 5:<br>
Write a program that will take Student names and their marks in different 
courses as input. Your task is to calculate the GPA of the students from 
course marks and create a dictionary that will contain the student names 
given as input as Key and their GPA as the corresponding value. At the end 
of the program print the dictionary that you created. For simplicity you 
can consider all the courses are 3.0 credit hours long. The program will 
continue to take inputs unless ‚ÄúSTOP‚Äù is given as input.<br>
Grading policy is as follows:<br>
Marks >=90,  Grade: 4.0<br>
90> Marks>=85,  Grade point:  3.7<br>
85>Marks>=80,  Grade point:  3.3<br>
80>Marks>=75,  Grade point:  3.0<br>
75>Marks>=70,  Grade point:  2.7<br>
70>Marks>=65,  Grade point:  2.3<br>
65>Marks>=60,  Grade point:  2.0<br>
60>Marks>=57,  Grade point:  1.7<br>
57>Marks>=55,  Grade point:  1.3<br>
55>Marks>=52,  Grade point:  1.0<br>
52>Marks>=50,  Grade point:  0.7<br>
Marks<50,  Grade point:  0.0<br>

And the formula to calculate GPA is:<br>
        GPA = sum(Each course grade point * credit of each course) / (Total 
credits attended)<br>

**Sample Input:**<br>
Adam 83 95 67 72      [Explanation: gpa = 
(3.3*3.0+4.0*3.0+2.3*3.0+2.7*3.0)/12.0 = 3.075 ‚âà 3.08]<br>
John 40 55 81 76<br>
Alice 65 96 92<br>
STOP<br>

**Sample Output:**<br>
{'Adam': 3.08, 'John': 1.9, 'Alice': 3.43}<br>

# ùó§ùòÇùó≤ùòÄùòÅùó∂ùóºùóª 6:<br>
As a software engineer, you are hired to arrange football players based on 
their country and position. You have given all the player‚Äôs information in 
a tuple called my_tuple. The players are from 3 countries which are Brazil, 
Argentina and Germany. They are 2 positions which are ‚ÄúForward‚Äù and 
‚ÄúMidfield‚Äù<br>

You are given the following nested tuple where each element in the my_tuple 
is a tuple consisting of a name and a 4 digit ID.<br>

my_tuple = (("Firmino", 1101),("Gabriel", 1201),("Casemiro", 1302),\
("Fred", 1402),("Messi", 1111),("Aguero", 1211),("Klose", 1121), ("Werner", 1221), 
("Toni", 1322))<br>

Write a python program that will convert this tuple into the following 
dictionary using the process described below:\
Your code should work for all 
types of similar tuple if the sample input is changed.<br>

**Output dictionary (You just have to print the resultant dictionary. No need 
to follow the pattern below):**<br>
{<br>
'Forward':<br>
$\;\;${<br>
$\;\;\;$'Brazil': ('Firmino', 'Gabriel'),<br>
$\;\;\;$'Argentina': ('Messi', 'Aguero'),<br>
$\;\;\;$'Germany': ('Klose', 'Werner')<br>
$\;\;$}<br>
'Midfielder':<br>
$\;\;${<br>
$\;\;\;$'Brazil': ('Casemiro', 'Fred')<br>
$\;\;\;$'Germany': 'Toni'<br>
$\;\;$}<br>
}<br>
**CONTINUATION:**<br>
Here you need to convert the given tuple into the output using the 4 digit <br>
ID. The rules are given below:<br>
1==> Last digit of the ID represents the position. Here<br>
$\;\;$1a--> 1 means Forward<br>
$\;\;$1b--> 2 means Midfield<br>
2==> Third digit of the ID represents the country. Here<br>
$\;\;$2a--> 0 means  Brazil<br>
$\;\;$2b--> 1 means Argentina<br>
$\;\;$2c--> 2 means Germany<br>
3==> If you have multiple players in a category use tuple to store the 
multiple names as the value of the nested dictionary<br>
4==> If any country has no player of a particular position, that country 
name should not appear as a key in the nested dictionary of that particular 
position. For example, Argentina has no midfielder. So Argentina did not 
appear under the ‚ÄúMidfield‚Äù position.<br>
5==> If your output dictionary‚Äôs key value pair sequence is not the same as 
the shown output you should not worry about that. However, the key value 
pair should be exactly the same<br>

In [51]:
def mtuple(*args):
    dct = {}
    for i in args:
        a = str(i[1])
        b = a[-1]
        if b == '1': 
            place ="Forward"
        elif b == '2':
            place ="Midfielder"
        c = a[-2]
        if c == '0':
            cou = "Brazil"
        elif c == '1':
            cou = "Argentina"
        elif c == '2':
            cou = "Germany"

            
        if place not in dct.keys():
            dct[place] = {cou : [i[0]]}
        else:
            if cou not in dct[place].keys():
                dct[place][cou] = [i[0]]
                
            else:
                dct[place][cou].append(i[0])
      
    for key, val in dct.items():
        for k,v in val.items():
            dct[key][k] = tuple(v)
                
    print(dct)
    
mtuple(("Firmino", 1101),("Gabriel", 1201),("Casemiro", 1302), ("Fred", 1402),("Messi", 1111),("Aguero", 1211),("Klose", 1121), ("Werner", 1221), ("Toni", 1322))

{'Forward': {'Brazil': ('Firmino', 'Gabriel'), 'Argentina': ('Messi', 'Aguero'), 'Germany': ('Klose', 'Werner')}, 'Midfielder': {'Brazil': ('Casemiro', 'Fred'), 'Germany': ('Toni',)}}

# ùó§ùòÇùó≤ùòÄùòÅùó∂ùóºùóª 7: <br>
Suppose you are given a list of contacts as input in single line. Your task
is to create a ‚ÄúPhonebook‚Äù out of those contacts based on their telecom
operator. The phonebook is nothing but a nested dictionary which is made of
1 rule:<br>

1.You have to save each contact based on their telecom operator. If there
is no contact of a specific telecom operator, that operator should not be
shown in the phone book. If a contact number,<br>
Starts with ‚Äò017‚Äô or ‚Äò013‚Äô then the telecom operator is Grameenphone<br>
Starts with ‚Äò018‚Äô then the telecom operator is Robi<br>
Starts with ‚Äò016‚Äô then the telecom operator is Airtel<br>
Starts with anything else then the telecom operator is Others<br>
While printing the phonebook as output the contacts under each telecom
operator should be shown in alphabetically sorted order based on the
contact names. See the sample output for clarification.<br>

**Sample Input:**<br>
Bob 01632342392 Alice 01346734123 Britney 01803544535 Aeron 01723454642
Smith 01923457890 Tarek 01866392233<br>

**Sample Output:(No need to follow this output format. Just print the
resultant sorted dictionary. )**<br>
{<br>
Airtel:<br>
$\;\;${<br>
Bob:01632342392<br>
$\;\;$}<br>
Grameenphone:<br>
$\;\;${<br>
Aeron:01723454642<br>
Alice:01346734123<br>
$\;\;$}<br>
Robi:<br>
$\;\;${<br>
Britney:01803544535<br>
Tarek:01866392233<br>
$\;\;$}<br>
Others:<br>
$\;\;${<br>
Smith:01923457890<br>
$\;\;$}<br>
}<br>

In [75]:
#Todo
def phone(*contacts):
    lst = []
    dct = {}
    for i in range(len(contacts)//2):
        lst.append([contacts[0+2*i], contacts[1+2*i]])
    for i in lst:
        if '017' in i[-1] or '013' in i[-1]:
            a = "Grammenphone"
        elif '018' in i[-1]:
            a = "Robi"
        elif '016' in i[-1]:
            a = "Airtel"
        else:
            a = "Others"
        
        if a not in dct.keys():
            dct[a] = {i[0] : i[-1]}
        else:
            if i[0] not in dct[a].keys():
                dct[a][i[0]] = i[-1]
            

    print(dct)  
    
phone('Bob','01632342392', 'Alice', '01346734123', 'Britney', '01803544535', 'Aeron', '01723454642', 'Smith', '01923457890', 'Tarek', '01866392233')

{'Airtel': {'Bob': '01632342392'}, 'Grammenphone': {'Alice': '01346734123', 'Aeron': '01723454642'}, 'Robi': {'Britney': '01803544535', 'Tarek': '01866392233'}, 'Others': {'Smith': '01923457890'}}